foreground               #e0def4
background               #191724
selection_foreground     #e0def4
selection_background     #403d52

cursor                   #524f67
cursor_text_color        #e0def4

url_color                #c4a7e7

active_tab_foreground    #e0def4
active_tab_background    #26233a
inactive_tab_foreground  #6e6a86
inactive_tab_background  #191724

active_border_color      #31748f
inactive_border_color    #403d52

# opacoty 
background_opacity 0.9


# black 
color0  
color8 

#red 
color1 
color9 

# green
color2
color10

# yellow 
color3
color11

# blue 
color4
color12

# magenta 
color5
color13 

# cayn
color6
color14

# white 
color7
color15
